{{#contentFor "title"}}
Home
{{/contentFor}}

<p>
    Welcome to IBIS!
</p>
<p>
    This is an adaptation of an old app, hosted <a href="http://ouribis.com">here</a>.
    Search specific treatments in 'Treatments', and specific diseases/ ailments via 'Materia Medica'.
</p>
