<div class="ui icon input">
    <i class="search icon"></i>
    <form onsubmit="handler.search()">
        <input type="text" placeholder="Type here...">
        <input type="submit" style="display: none;" />
    </form>
</div>