<div class="ui icon input">
    <i class="search icon"></i>
    <form class="search-box">
        <input type="text" class="query" placeholder="Type here...">
        <input type="submit" class="submit" style="display: none;" />
    </form>
</div>